.header-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
}
.header-cards .card {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.hr-div {
    margin-top: 10px;
    color: #F8FAFC;
}
.interview_btn {
    background-color: green;
    color: white;
}
.reject_btn {
    background-color: red;
    color: white;
}
#no_jobs {
    display: block;
}


@media screen and (max-width: 576px) {
    .header-cards {
    display: grid;
    grid-template-columns: auto;
}
    
}